<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOLFER | Inicio</title>
    <link rel="stylesheet" href="/stylesheets/herramientas.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
<%- include('../partials/header') %>

<main class="herramientas-container">
  <h1>Herramientas</h1>

  <% for (let etiqueta in productosPorEtiqueta) { %>
    <section class="etiqueta-section">
      <h2><%= etiqueta %></h2>
      <div class="productos-grid">
        <% productosPorEtiqueta[etiqueta].forEach(producto => { %>
          <div class="producto-card">
            <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>" />
            <div class="producto-info">
              <h3><%= producto.nombre %></h3>
              <p>$<%= producto.precio.toLocaleString() %></p>
              <a href="/products/<%= producto.id %>" class="btn-detalle">Ver Detalle</a>
            </div>
          </div>
        <% }) %>
      </div>
    </section>
  <% } %>
</main>





<%- include('../partials/footer') %>









</body>
</html>
